# Workflow to run CI and tests for all branches on push and on pull requests

name: CI

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: yarn
      - run: yarn test
